[submodule "libatsc3"]
	path = libatsc3
	url = https://NGWP@dev.azure.com/NGWP/Middleware/_git/libatsc3
	branch = lowaSIS
	update = rebase
[submodule "jsonrpc2"]
	path = jsonrpc2
	url = git@ssh.dev.azure.com:v3/NGWP/Middleware/jsonrpc2
	branch = master
	update = rebase
[submodule "ExoPlayer"]
	path = ExoPlayer
	url = git@ssh.dev.azure.com:v3/NGWP/Middleware/ExoPlayer
	branch = daa
	update = rebase
