<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextgenbroadcast.mobile.middleware">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    To make service endless-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".phy.Atsc3DeviceActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".ServiceDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=".ServiceActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/nextgenMediaFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

    </application>
</manifest>