<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextgenbroadcast.mobile.middleware.sample">

    <application>

        <service
            android:name="com.nextgenbroadcast.mobile.middleware.service.StandaloneAtsc3Service"
            android:enabled="true"
            android:exported="true"
            android:permission="com.nextgenbroadcast.mobile.middleware.service.ATSC3_SECURITY_SERVICE_PERMISSION"
            android:process=":atsc3Service" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.nextgenbroadcast.mobile.middleware.StandaloneServiceInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nextgenbroadcast.mobile.middleware.standalone.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

    </application>

</manifest>