<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextgenbroadcast.mobile.middleware.sample">

    <application>

        <service
            android:name="com.nextgenbroadcast.mobile.middleware.service.EmbeddedAtsc3Service"
            android:exported="false" />

    </application>

</manifest>