<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextgenbroadcast.mobile.middleware.sample">

    <application>

        <service
            android:name="com.nextgenbroadcast.mobile.middleware.service.EmbeddedAtsc3Service"
            android:exported="false">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

            <meta-data
                android:name="com.nextgenbroadcast.mobile.middleware.location.FrequencyLocator"
                android:value="nextgenbroadcast.locator" />

            <meta-data
                android:name="org.ngbp.libatsc3.middleware.android.phy.SaankhyaPHYAndroid"
                android:resource="@xml/saankhya_phy" />

            <meta-data
                android:name="com.nextgenbroadcast.mobile.middleware.phy.Atsc3UsbPhyConnector"
                android:resource="@xml/device_filter" />

        </service>

    </application>

</manifest>